@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,*::before,*::after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


  @media screen and (min-width:510px) and (max-width:640px) {
    .theteam{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media screen and (min-width:640px) and (max-width:838px) {
    .teamcard__img-height{
      height:400px;
    }
    .theteam{
      padding:0 60px
    }
  }