@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,*::before,*::after{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


  @media screen and (min-width:510px) and (max-width:640px) {
    .theteam{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media screen and (min-width:640px) and (max-width:838px) {
    .teamcard__img-height{
      height:400px;
    }
    .theteam{
      padding:0 60px
    }
  }
  @layer components{
    .form-control{
      @apply border border-slate-200 focus:ring-2 outline-none
       text-white duration-300 px-4 focus:ring-white
       rounded-[5px] w-full py-2
    }
    .tooltip{
      @apply lg:after:text-center lg:after:block lg:after:w-[6rem]
      lg:after:rounded-[5px] lg:after:text-[14px] lg:after:-translate-x-[50%] lg:after:left-[50%] 
      lg:after:hover:bg-[rgb(50,50,50)] lg:after:py-[5px] lg:after:text-white lg:after:top-[calc(100%+5px)]
      lg:after:absolute lg:after:opacity-0 lg:hover:after:opacity-100
      lg:after:duration-300 lg:after:pointer-events-none
    }
  }
  
  @keyframes anim-spin{
    to{ 
        transform: rotate(360deg);
    }
  }
  .anim-spin{
    animation-name: anim-spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }